# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

CMakeCache.txt
tags
Makefile
bin/
CMakeFiles/
data/
feudosim
cmake_install.cmake